* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 20px;
}

main .romad .romad-tittles {
  display: flex;
  gap: 24px;
  align-items: center;
}
main .romad .tittle-card h1 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}
main .romad .tittle-card p {
  color: var(--Text-Body, #808080);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}
main .tittle-next {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .tittle-next .next-content h2 {
  color: var(--Text-Tittle, #1c3554);
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  transition: 0.4s;
}
main .tittle-next .next-content h2:hover {
  color: var(--Text-Body, #808080);
}
main .hero_account {
  margin-top: 69px;
}
main .hero_account .trend_box {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
main .hero_account .trend_box .trend_cards {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  max-width: 295px;
  height: 427px;
  border-radius: 8px;
  background: var(--Other-white, #fff);
}
main .hero_account .trend_box .trend_cards:hover {
  transition: 0.5s;
  box-shadow: 40px 40px 57px rgba(0, 0, 0, 0.1);
}
main .hero_account .trend_box .trend_cards .place_for-img {
  border-radius: 4px;
  background: var(--Text-In-Field, #ccc);
  max-width: 262px;
  height: 208px;
}
main .hero_account .trend_box .trend_cards button {
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
  z-index: 1;
  color: var(--Text-white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 131px;
  height: 32px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  background: var(--Other-Blue, #4586d6);
  border: none;
}
main .hero_account .trend_box .trend_cards h3 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 20px;
}
main .hero_account .trend_box .trend_cards h6 {
  color: #f72585;
  padding-top: 8px;
}
main .hero_account .trend_box .trend_cards span {
  display: flex;
  padding-top: 20px;
  align-items: center;
  gap: 10px;
}
main .hero_account .trend_box .trend_cards span .discont {
  color: var(--Text-Tittle, #1c3554);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

@media (max-width: 990px) {
  .romad .romad-tittles {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .romad .tittle-card h1 {
    font-size: 16px;
  }
  .romad .tittle-card p {
    color: var(--Text-Body, #808080);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }
  .tittle-next {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .tittle-next .next-content h2 {
    font-size: 16px !important;
  }
  .tittle-next .next-content h2:hover {
    color: var(--Text-Body, #808080);
  }
  .hero_account {
    margin-top: 20px !important;
  }
  .hero_account .trend_box {
    padding-top: 32px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .hero_account .trend_box .trend_cards {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .hero_account .trend_box button {
    position: absolute !important;
    top: 200px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media (max-width: 485px) {
  .hero_account {
    margin-top: 69px;
  }
  .hero_account .trend_box {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px !important;
  }
  .hero_account .trend_box .trend_cards {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .hero_account .trend_box button {
    position: absolute !important;
    top: 90% !important;
    text-align: center;
    padding-left: 13px;
  }
}/*# sourceMappingURL=account.css.map */